.countryName {
    font-family: 'Segoe UI Emoji', 'Noto Color Emoji', 'Apple Color Emoji', sans-serif;
    font-size: 24px;
}

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    margin-top: 70px;
    max-width: 700px;
    margin-bottom: 70px;
}

.title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    color: #6c757d;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group select,
.form-group input {
    width: 500px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

button {
    padding: 10px 20px;
    background-color: darkslateblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

#numbersContainer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }
  
  .number-box {
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
    word-wrap: break-word;
    flex-grow: 1;
  }